html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
div.header img:first-child {
    width: 100%;
}
div.header img:nth-child(2) {
    width: 100px;
    border-radius:50%;
    border: 5px solid white;
    margin: -50px 0 0 10%;
}
div.post {
    width: 50%;
    margin: 0 25%;
}
div.post img {
    width: 100%;
}
div.follow {
    height: 90px;
    width: 300px;
    margin: 15px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    border: 1px solid #E3E2E2;
    border-radius: 3px;
    box-shadow: -4px 5px 2px -4px #C0C0C0;
}
div.follow p {
    margin: 0;
}
div.top {
    height: 40%;
    border-bottom: 1px solid #E3E2E2;
    padding: 5px;
}
div.top p {
        font-weight: bold;
        padding: 5px;
}
div.bottom {
    height: 60%;
    padding: 5px;
}
div.bottom p {
        font-size: .75em;
        margin: 5px;
}
div.bottom p:first-child {
        font-weight: bold;
}
