html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER */

.header img:first-child {
    width: 100%;
}
.header img:nth-child(2) {
    width: 100px;
    border-radius:50%;
    border: 5px solid white;
    margin: -50px 0 0 10%;
}
/* MIDDLE */
.middle {
    width: 100%;
    margin: 0 30% 0 15%;
    padding-top: 40px;
}
/* SIDEBAR */
.sidebar {
    width: 15%;
    float: left;
    padding-top: 20px;
}

.side-top {
    border-bottom: 1px solid gray;
    width: 75%;
}
.side-top p {
    font-size: .75em;
}
.side-bottom input {
    width: 75%;
}
/* POST */
.post {
    width: 40%;
    float: left;
    padding-top: 20px;
}
.post h1 {
    margin-top: 0;
}
.post img {
    width: 100%;
}
.attribution {
    font-style: italic;
}
/* FOLLOW */
.follow {
    height: 90px;
    width: 300px;
    margin: 15px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    border: 1px solid #E3E2E2;
    border-radius: 3px;
    box-shadow: -4px 5px 2px -4px #C0C0C0;
}
.follow p {
    margin: 0;
}
.top {
    height: 40%;
    border-bottom: 1px solid #E3E2E2;
    padding: 5px;
}
.top p {
    font-weight: bold;
    padding: 5px;
}
.top p:first-child {
    float: left;
}
.top p:nth-child(2) {
    float: right;
    color: gray;
}
.top p:nth-child(2):hover {
    background: gray;
    color: white;
    border-radius: 3px;
}
.bottom {
    height: 60%;
    padding: 5px;
    width: 100%;
}
.bottom img {
    width: 45px;
    float: left;
    border-radius: 3px;
}
.bottom div {
    margin: 5px 5px 0px 20px;
    float: left;
}
.bottom div p:first-child{
    font-weight: bold;
}
.button {
    background: #519FDD;
    border-radius: 3px;
    height: 75%;
    width: 30%;
    margin-left: 20px;
    float: right;
}
.button p {
    padding: 8px;
    text-align: center;
    color: white;
}
.button:hover {
    background: #203E56;
}
